In [ ]:
# 1. Variable Assignment & Dynamic Typing: What will be the final value and data type of the variable val after running this code block?
val = 50
val = val / 5 # Arithmetic operation
val = "Final Result: " + str(val)
# Print val and its type
print(val)
print(type(val))

Final Result: 10.0
<class 'str'>

In [ ]:
# 2. Tuple Access & Properties: Given the tuple city_data = ('Tokyo', 37.4, 13.9, 2024), write the code to: a. Print the last element (2024) using negative indexing. b. Attempt to change the population value (37.4) to 38.0. What Python property prevents this?
city_data = ('Tokyo', 37.4, 13.9, 2024)
print(city_data[-1])
city_data[1] = 38.0

2024

TypeError: 'tuple' object does not support item assignment

In [ ]:
# 3. List Methods: Starting with the list inventory = ['Pencil', 'Pen', 'Eraser', 'Ruler'], write the code to: a. Add the item 'Sharpener' at the second position (index 1). b. Remove the item 'Eraser'. c. Print the total number of items.
inventory = ['Pencil', 'Pen', 'Eraser', 'Ruler']
inventory[1] = "Shrapner"
inventory.remove("Eraser")
print(len(inventory))

3

In [ ]:
# 4. Dictionary Creation and Retrieval: Create a dictionary named planet_info where the keys are planets ('Earth', 'Mars') and the values are their primary moons ('Luna', 'Phobos'). Then, retrieve and print the moon of 'Mars' using the .get() method.
planet_info = { "Earth" : 'Luna', "Mars" : "Phobos"}
print(planet_info.get("Mars"))

Phobos

In [ ]:
# 5. Arithmetic Precedence: Calculate the final value of result and explain which two operations Python executes first based on operator precedence.
result = 60 / 10 + 3 ** 2 - 1
# first it divides and then squares and difference
print(result)

14.0

In [ ]:
# 6. if-elif-else Decision: Write an if-elif-else block that determines a vehicle's category based on its weight (in kg):
# If weight is over 2000, print "Heavy Vehicle".
# If weight is between 1000 and 2000 (inclusive), print "Standard Vehicle".
# Otherwise (under 1000 kg), print "Light Vehicle"
vehicle = 1647
if vehicle < 1000:
  print('Light Vehicle')
elif 1000 < vehicle  < 2000:
  print('Medium Vehicle')
else:
  print('Heavy Vehicle')

Medium Vehicle

In [ ]:
#  7. Input and Type Casting: Ask the user for their favorite number (which should be entered as a string, e.g., "42"). Convert this input to an integer, multiply it by 3, and print the result using an f-string in the format: "Three times your number is [result]".
x = input("Enter your number: ")
result = x * 3
print(f"Three times your number is {result}")

Enter your number: 42
Three times your number is 424242

In [ ]:
# 8. while Loop with else: Write a while loop that initializes a counter i = 10 and repeatedly decrements it by 1. The loop should stop when i is less than 5. Use the else block to print "Countdown sequence complete." exactly once after the loop naturally finishes.
i = 10
while i > 4:
  print(i, end = " ")
  i -= 1
else:
   print("\n Countdown sequence complete.")

10 9 8 7 6 5
 Countdown sequence complete.

In [ ]:
# 9. Dictionary Iteration: Write a for loop to iterate through the dictionary capitals = {'France': 'Paris', 'Germany': 'Berlin', 'Italy': 'Rome'}. Print the output in the format: "The capital of [Country] is [City]".
capitals = {'France': 'Paris', 'Germany': 'Berlin', 'Italy': 'Rome'}
for country, capitals in capitals.items():
  print(f"The capital of {country} is {capitals}")

The capital of France is Paris
The capital of Germany is Berlin
The capital of Italy is Rome

In [ ]:
# 10. continue and Conditional Looping: Write a for loop that iterates through a list of names names = ['Anna', 'Brian', 'Chris', 'David', 'Emily']. Use the continue statement to skip printing any name that starts with the letter 'D' or 'E'.
names = ['Anna', 'Brian', 'Chris', 'David', 'Emily']
for name in names:
  if name.startswith('D') or name.startswith("E"):
   continue
  print(name)

Anna
Brian
Chris

In [ ]:
# 11. Function with Multiple Arguments (Default and Positional): Define a function named log_event that accepts:
# message (required positional argument).
# level (default argument set to 'INFO').
# The function should return a formatted string: "[LEVEL]: MESSAGE". Call the function twice: once using the default level, and once explicitly setting the level to 'ERROR'.
def log_event(message, level = "INFO"):
  return f"[{level.upper()}]: {message}"
log_event("Hello World!", "error")

'[ERROR]: Hello World!'

In [ ]:
# 12. Global Variable Modification: Explain the concept of variable scope (local vs. global) in Python. Then, write a short function increment_counter() that correctly accesses and adds 1 to a globally defined variable hit_count = 0 using the necessary keyword. Show the value of hit_count before and after calling the function.
hit_count = 0
print("Before: ", hit_count)
def increment_counter():
  global hit_count
  hit_count += 1
  print("After: ", hit_count)
increment_counter()

Before:  0
After:  1

In [ ]:
# 13. Variable-Length Keyword Arguments (**kwargs): Write a function called generate_summary that accepts a required argument title and a variable number of keyword arguments (**kwargs) representing data attributes. The function should print the title followed by each key-value pair from **kwargs on a new line, separated by a colon. Example call: generate_summary("Project Alpha", Status="Complete", Budget=50000, Analyst="J. Doe")
def generate_summary(**info):
  for key, value in info.items():
    print(f"{key}: {value}")
generate_summary(Name= "Project Alpha", Status="Complete", Budget=50000, Analyst="J. Doe")

Name: Project Alpha
Status: Complete
Budget: 50000
Analyst: J. Doe

In [ ]:
# 14. Set Operation and Bitwise Logic: a. Given two numbers, $A = 13$ and $B = 6$. What is the result of the bitwise XOR operation ($A \text{ ^ } B$)? Show the binary representation for $A$, $B$, and the result. b. Explain how the bitwise right shift operator (>>) can be used to perform integer division by a power of two. What is the result of 200 >> 3?
a = 13
b = 6
result = a ^ b
print(result)
print(bin(a), bin(b), bin(result))
x = 200 >> 3
print(x, bin(x), bin(200))

11
0b1101 0b110 0b1011
25 0b11001 0b11001000

In [ ]:
# 15. Conditional Pandas Series Filtering and Modification: a. Create a Pandas Series sales from the list [150, 220, 95, 310, 180] with default integer indices. b. Use Boolean Indexing to create a new Series named high_sales that contains only the sales figures greater than 200. c. Write a single line of code to apply a 10% bonus to all values in the original sales Series that are less than 100, modifying the original series in place. (Hint: Use a list of Booleans derived from a comparison.)
import pandas as pd
sales = pd.Series([150, 220, 95, 310, 180])
high_sales = sales[sales > 200]
print(high_sales)
sales[sales < 100] *= 1.10
print(sales)

1    220
3    310
dtype: int64
0    150.0
1    220.0
2    104.5
3    310.0
4    180.0
dtype: float64

/tmp/ipython-input-3249047665.py:5: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value '[104.5]' has dtype incompatible with int64, please explicitly cast to a compatible dtype first.
  sales[sales < 100] *= 1.10

In [ ]:
# 16. Write a code snippet using nested loops to calculate the sum of all odd numbers in the matrix.
matrix = [
        [1, 2, 3],
        [4, 5, 6],
        [7, 8, 9]
    ]

sum = 0
for row in matrix:
  for element in row:
    if element % 2 != 0:
      sum += element
print(sum)

25