In [1]:
print("Hello World!")

Hello World!

### **Input Values**

In [2]:
name = input("Enter your name: ")
print("Hello",name, "! Welcome")

Enter your name: Saniya
Hello Saniya ! Welcome

In [3]:
a = "Petroleum"
print(a)

Petroleum

In [4]:
b = "Statistics"
c = "Testing"
print(a,b,c)

Petroleum Statistics Testing

In [5]:
x, y = input("enter two values: ").split()

enter two values: 27 54

In [6]:
print(x)
print(y)

27
54

### **Data Type**

In [7]:
a = "Hello World!"
b = 10
c = 10.58
d = ("Petroleum", "Data", "Analytics")
e = ['Petroleum', 'Data', 'Analytics']
f = {"Porosity" : 30, "Permeability" : 45, "WaterSturation" : 95}

In [8]:
print(type(a))
print(type(b))
print(type(c))
print(type(d))
print(type(e))
print(type(f))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'tuple'>
<class 'list'>
<class 'dict'>

### **Output Formatting**

In [9]:
# Using Format()
amount = 155.5506
print("The amount is ${:.2f}".format(amount))

The amount is $155.55

In [10]:
# Using sep and end parameter
print("Python", end = "@")
print("Analytics")
print('P', 'D', 'A', sep = ' ')
print('04','05','2005', sep = "-")

Python@Analytics
P D A
04-05-2005

In [11]:
# Using f-string
name = "Saniya"
dept = "Data Science"
print(f"Hello {name}! Welcome to {dept}")

Hello Saniya! Welcome to Data Science

### **Assigning Variables**

In [12]:
a = 10
b = "Saniya"
c = 16.25
print(a,b,c)

10 Saniya 16.25

In [13]:
# Dynamic Typing
x = 156
x = "Now a string"
print(x)

Now a string

In [14]:
# Multiple Assignment
a = b = c = 10
print(a,b,c)

10 10 10

In [15]:
# Assigning Different Values
x, y, z = 10, 20, "Thirty"
print(x,y,z)

10 20 Thirty

### **Type casting**
- process of converting the value of one data type into another

In [16]:
m = "15"
print(type(m))
n = int(m)
print(type(n))

<class 'str'>
<class 'int'>

In [17]:
o = 5
print(type(o))
p = float(o)
print(type(p))
print(p)

<class 'int'>
<class 'float'>
5.0

### **Scope of a Variable**
- There are two methods how we define scope of a variable in python which are local and global.
- Local Variables:
Variables defined inside a function are local to that function.
- Global Variables:
Variables defined outside any function are global and can be accessed inside functions using the global keyword.

In [18]:
def func():
  a = "Local Variable"
  print(a)

func()

Local Variable

In [19]:
a = "Global Variable"
def func():
  global a
  a = "Modified Global"
  print(a)
func()
print(a)

Modified Global
Modified Global

### **Delete a Variable Using del Keyword**

In [20]:
x = 1562034
print(x)

del x

1562034

In [21]:
print(x)

NameError: name 'x' is not defined