# **Python Data Types**

## **Immutable Data Types**
- Immutable Objects are of in-built datatypes like int, float, bool, string, Unicode, and tuple.
- In simple words, an immutable object can’t be changed after it is created.

In [1]:
# Tuple is immutable
tuple1 = (1,2,3,4)
print(tuple1)

(1, 2, 3, 4)

In [2]:
print(type(tuple1))

<class 'tuple'>

In [3]:
tuple1[3] = 4
print(tuple1)

TypeError: 'tuple' object does not support item assignment

In [4]:
# String is immutable
string1 = 'I AM IMMUTABLE'
print(type(string1))
print(string1[0])
string1[0] = 'U'

<class 'str'>
I

TypeError: 'str' object does not support item assignment

In [5]:
# Python stores identical strings in the same memory (interning), but not all immutables get this optimization.
var1 = 'abc'
var2 = 'abc'
var3 = 'abc'
var4 = 'abc'
var5 = 'abc'
var6 = 'abc'
var7 = 'abc'
print(id(var1))
print(id(var2))
print(id(var3))
print(id(var4))
print(id(var5))
print(id(var6))
print(id(var7))

10785632
10785632
10785632
10785632
10785632
10785632
10785632

### **Non-Transitivity**
- Tuples are immutable, but if they contain mutable objects (like lists), those can still be changed—this is called non-transitive immutability

In [9]:
# Tuple with a list inside
t = (1, 2, [3, 4])

print("Before:", t)

# Trying to modify tuple directly -> Error
# t[0] = 10   # TypeError

# But modifying the list inside works
t[2][1] = 5

print("After:", t)

Before: (1, 2, [3, 4])
After: (1, 2, [3, 5])

## **Numeric Data Type**
- The numeric data type in Python represents the data that has a numeric value.
- A numeric value can be an integer, a floating number, or even a complex number.
- These values are defined as Python int, Python float, and Python complex classes in Python.
- **Integers** – This value is represented by int class. It contains positive or negative whole numbers (without fractions or decimals).
In Python, there is no limit to how long an integer value can be.

- **Float** – This value is represented by the float class. It is a real number with a floating-point representation. It is specified by a decimal point.
- **Complex Numbers** – Complex number is represented by a complex class. It is specified as (real part) + (imaginary part)j. For example:  3+4j
- **Note** – type() function is used to determine the type of data type.

In [10]:
a = 362739
print(type(a))
b = 2523.334
print(type(b))
c = 2 + 3j
print(type(c))

<class 'int'>
<class 'float'>
<class 'complex'>

## **Sequence Data Types**
- String
- List
- Tuple

### **String**
- manipulate strings then we can use methods like concatenation, slicing, or formatting to create new strings based on the original

In [14]:
string2 = 'Petroleum Data Analytics'
print(string2[0])
print(string2[1])
print(string2[2])
print(string2[3])
print(string2[4])
print(string2[5])
print(string2[6])
print(string2[7])
print(string2[8])
print(string2[9])
print(string2[10])
print(string2[11])
print(string2[12])
print(string2[13])
print(string2[14])
print(string2[15])
print(string2[16])
print(string2[17])
print(string2[18])
print(string2[19])
print(string2[20])
print(string2[21])
print(string2[22])
print(string2[23])

P
e
t
r
o
l
e
u
m

D
a
t
a

A
n
a
l
y
t
i
c
s

In [16]:
# Multi Line String
string3 = """
I am Multi Line String
I am Multi Line String
I am Multi Line String
I am Multi Line String
"""
print(string3)

I am Multi Line String
I am Multi Line String
I am Multi Line String
I am Multi Line String

In [18]:
string4 = "I Love Data Analytics "
print(string4[0:-1])

I Love Data Analytics

In [23]:
s = "Petroleum Data Analytics"
# Retrives characters from 10 to 15
print(s[10:15])
# Retrives character from beginning to index 9
print(s[:9])
# Retrives character from index 10 to end
print(s[10:])
# Reverse a String
print(s[::-1])

Data
Petroleum
Data Analytics
scitylanA ataD muelorteP