# **Python Data Types**

## **Immutable Data Types**
- Immutable Objects are of in-built datatypes like int, float, bool, string, Unicode, and tuple.
- In simple words, an immutable object can’t be changed after it is created.

### **Tuple**
- A tuple in Python is an immutable ordered collection of elements.
- A tuple is a collection similar to a Python list
- The primary difference is that we can not modify a tuple once it is created.
- Tuples can hold elements of different data types.
- The main characteristics of tuples are being ordered, heterogeneous and immutable.

In [1]:
empty_tuple = ()
print("Output of empty tuple: ",empty_tuple)

Output of empty tuple:  ()

In [2]:
tuple1 = ()
print(tuple1)
print(type(tuple1))

()
<class 'tuple'>

In [3]:
# Creating a tuple using Tuple Constructor
tuple1 = tuple((1, 'Data', True, 2, 'Analytics', False))
print("Output of tuple using tuple constructor: ",tuple1)

Output of tuple using tuple constructor:  (1, 'Data', True, 2, 'Analytics', False)

In [4]:
# Accessing of Tuple
print(tuple1[0])
print(tuple1[-1])
print(tuple1[-2])
print(tuple1[0:])
print(tuple1[::])
print(tuple1[1:3])
print(tuple1[0:-1])

1
False
Analytics
(1, 'Data', True, 2, 'Analytics', False)
(1, 'Data', True, 2, 'Analytics', False)
('Data', True)
(1, 'Data', True, 2, 'Analytics')

In [5]:
# Tuple is immutable
tuple1 = (1,2,3,4)
print(tuple1)

(1, 2, 3, 4)

In [6]:
# Concatenation of Tuple
tuple2 = (561,258,355)
tuple3 = tuple1 + tuple2
print(tuple3)

(1, 2, 3, 4, 561, 258, 355)

In [7]:
# Length / Size of Tuple
len(tuple1)

4

In [14]:
del tuple3
print(tuple3)

NameError: name 'tuple3' is not defined

In [15]:
print(type(tuple1))

<class 'tuple'>

In [16]:
tuple1[3] = 4
print(tuple1)

TypeError: 'tuple' object does not support item assignment

In [17]:
# Remove empty tuples from the list - using LIST COMPREHENSION
tuple3 = [(1, 2), (), (3, 4), (), (5,6)]
filtered_tuple3 = [t for t in tuple3 if t]
print(filtered_tuple3)

[(1, 2), (3, 4), (5, 6)]

In [18]:
# Remove empty tuples from the list - using filter()
tuple3 = [(1, 2), (), (3, 4), (), (5,6)]
filtered_tuple3 = list(filter(None, tuple3))
print(filtered_tuple3)

[(1, 2), (3, 4), (5, 6)]

In [19]:
# String is immutable
string1 = 'I AM IMMUTABLE'
print(type(string1))
print(string1[0])
string1[0] = 'U'

<class 'str'>
I

TypeError: 'str' object does not support item assignment

In [20]:
# Python stores identical strings in the same memory (interning), but not all immutables get this optimization.
var1 = 'abc'
var2 = 'abc'
var3 = 'abc'
var4 = 'abc'
var5 = 'abc'
var6 = 'abc'
var7 = 'abc'
print(id(var1))
print(id(var2))
print(id(var3))
print(id(var4))
print(id(var5))
print(id(var6))
print(id(var7))

10785632
10785632
10785632
10785632
10785632
10785632
10785632

### **Non-Transitivity**
- Tuples are immutable, but if they contain mutable objects (like lists), those can still be changed—this is called non-transitive immutability

In [21]:
# Tuple with a list inside
t = (1, 2, [3, 4])

print("Before:", t)

# Trying to modify tuple directly -> Error
# t[0] = 10   # TypeError

# But modifying the list inside works
t[2][1] = 5

print("After:", t)

Before: (1, 2, [3, 4])
After: (1, 2, [3, 5])

## **Numeric Data Type**
- The numeric data type in Python represents the data that has a numeric value.
- A numeric value can be an integer, a floating number, or even a complex number.
- These values are defined as Python int, Python float, and Python complex classes in Python.
- **Integers** – This value is represented by int class. It contains positive or negative whole numbers (without fractions or decimals).
In Python, there is no limit to how long an integer value can be.

- **Float** – This value is represented by the float class. It is a real number with a floating-point representation. It is specified by a decimal point.
- **Complex Numbers** – Complex number is represented by a complex class. It is specified as (real part) + (imaginary part)j. For example:  3+4j
- **Note** – type() function is used to determine the type of data type.

In [22]:
a = 362739
print(type(a))
b = 2523.334
print(type(b))
c = 2 + 3j
print(type(c))

<class 'int'>
<class 'float'>
<class 'complex'>

## **Sequence Data Types**
- String
- List
- Tuple

### **String**
- manipulate strings then we can use methods like concatenation, slicing, or formatting to create new strings based on the original

In [23]:
string2 = 'Petroleum Data Analytics'
print(string2[0])
print(string2[1])
print(string2[2])
print(string2[3])
print(string2[4])
print(string2[5])
print(string2[6])
print(string2[7])
print(string2[8])
print(string2[9])
print(string2[10])
print(string2[11])
print(string2[12])
print(string2[13])
print(string2[14])
print(string2[15])
print(string2[16])
print(string2[17])
print(string2[18])
print(string2[19])
print(string2[20])
print(string2[21])
print(string2[22])
print(string2[23])

P
e
t
r
o
l
e
u
m

D
a
t
a

A
n
a
l
y
t
i
c
s

In [24]:
# Multi Line String
string3 = """
I am Multi Line String
I am Multi Line String
I am Multi Line String
I am Multi Line String
"""
print(string3)

I am Multi Line String
I am Multi Line String
I am Multi Line String
I am Multi Line String

In [25]:
string4 = "I Love Data Analytics "
print(string4[0:-1])

I Love Data Analytics

In [26]:
s = "Petroleum Data Analytics"
# Retrives characters from 10 to 15
print(s[10:15])
# Retrives character from beginning to index 9
print(s[:9])
# Retrives character from index 10 to end
print(s[10:])
# Reverse a String
print(s[::-1])

Data
Petroleum
Data Analytics
scitylanA ataD muelorteP

In [27]:
# Updating a string, creating new string
s1 = " Data Analytics"
s2 = "Petroleum" + s1
print(s2)

Petroleum Data Analytics

In [28]:
s3 = s2.replace("Analytics", "Analysis")
print(s3)

Petroleum Data Analysis

### **Common String Methods**

In [29]:
# len()
print(len(s2))

24

In [30]:
# uppercase and lowercase character
print(s2.upper())
print(s2.lower())

PETROLEUM DATA ANALYTICS
petroleum data analytics

In [31]:
# strip() and replace()
s4 = "     Petroleum Data Analytics     "
print(s4.strip())
print(s2.replace("Analytics", "Analysis"))

Petroleum Data Analytics
Petroleum Data Analysis

In [32]:
# Concatenating and Repeating Strings
# We can concatenate strings using + operator and repeat them  using * operator.
s1 = "123"
s2 = "456"
print(s1+s2)
print(s1*3)

123456
123123123

## **Mutable Data Types**

### **Lists**
- In Python, a list is a built-in dynamic sized array (automatically grows and shrinks).
- We can store all types of items (including another list) in a list. A list may contain mixed type of items.
- List can contain duplicate items.
- List in Python are Mutable. Hence, we can modify, replace or delete the items.
- List are ordered. It maintain the order of elements based on how they are added.
- Accessing items in List can be done directly using their position (index), starting from 0.

In [33]:
# List of Strings
list1 = ["abc", "def", "ghi"]
print(list1)
# List of Integers
list2 = [1,2,3,4,5]
print(list2)
# lists of Mixed Characters
list3 = [1, 'abc', True, 2, 'def', False]
print(list3)

['abc', 'def', 'ghi']
[1, 2, 3, 4, 5]
[1, 'abc', True, 2, 'def', False]

In [34]:
# Accessing List items using index
print(list1[0])
print(list2[1])
print(list3[2])

abc
2
True

In [35]:
# List types
print(type(list1[1]))
print(type(list2[2]))
print(type(list3[2]))

<class 'str'>
<class 'int'>
<class 'bool'>

In [36]:
# List Constructor using list()
list4 = list()
print(list4)

[]

In [37]:
# Adding elements to List
#  .append()
l1 = [1, 'abc', True, 2, 'def', False]
l1.append(3)

# .extend()
l1.extend(['ghi', True, 'DATA', 564, 'Engineering'])

# .insert()
l1.insert(3, 'xyz')

print(l1)

[1, 'abc', True, 'xyz', 2, 'def', False, 3, 'ghi', True, 'DATA', 564, 'Engineering']

In [38]:
# Updating Elements in List

l1[0] = 'Data'
print(l1)

['Data', 'abc', True, 'xyz', 2, 'def', False, 3, 'ghi', True, 'DATA', 564, 'Engineering']

In [39]:
# Removing elements from list

# .remove()
l1.remove('abc')
print(l1)

# .pop()
l1.pop(6)
print(l1)

# del keyword
del l1[3]
print(l1)

['Data', True, 'xyz', 2, 'def', False, 3, 'ghi', True, 'DATA', 564, 'Engineering']
['Data', True, 'xyz', 2, 'def', False, 'ghi', True, 'DATA', 564, 'Engineering']
['Data', True, 'xyz', 'def', False, 'ghi', True, 'DATA', 564, 'Engineering']

In [40]:
# Nested Lists in Python
l2 = ['Porosity', "Petroleum" , [1,2,3,4,5]]
print(l2)

['Porosity', 'Petroleum', [1, 2, 3, 4, 5]]

In [41]:
l2[-1]

[1, 2, 3, 4, 5]

In [42]:
l2[2]

[1, 2, 3, 4, 5]