# **Loops in Python**
 - Loops in Python are used to repeat actions efficiently. The main types are For loops (counting through items) and While loops (based on conditions).

## **While Loop**
- In Python, a while loop is used to execute a block of statements repeatedly until a given condition is satisfied.
- When the condition becomes false, the line immediately after the loop in the program is executed.

In [ ]:
n = 0
while(n < 10):
  n += 1
  print("Hello!")

Hello!
Hello!
Hello!
Hello!
Hello!
Hello!
Hello!
Hello!
Hello!
Hello!

### **Using else statement with While Loop in Python:**
- Else clause is only executed when our while condition becomes false. If we break out of the loop or if an exception is raised, then it won't be executed.

In [ ]:
n = 0
while(n < 5):
  n += 1
  print(n)
else:
  print("Loop is finished")

1
2
3
4
5
Loop is finished

## **For Loop**
- For loops are used for sequential traversal.
- For example: traversing a list or string or array etc.

In [ ]:
n = 4
for i in range(0, n):
  print(i)

0
1
2
3

In [ ]:
# List Example
fruits = ["apple", "banana", "cherry", "dates"]

print("Itering over a List: ")
for n in fruits:
  print(n)

Itering over a List:
apple
banana
cherry
dates

In [ ]:
# Tuple Example
num = (10, 20, 30, 40, 50)

print("Itering over a Tuple: ")
for n in num:
  print(n)

Itering over a Tuple:
10
20
30
40
50

In [ ]:
# String Example
string = "DATA"
print("Itering over a String: ")
for n in string:
  print(n)

Itering over a String:
D
A
T
A

In [ ]:
# Dictionary Example
student = {"name": "Saniya", "age" : 20, "course" : "Data Science"}

print("Itering over a Dictionary Key: ")
for key in student:
  print(key, ": ", student[key])

print("\nItering over a Dictionary Item: ")
for key, value in student.items():
  print(f"{key} -> {value}")

Itering over a Dictionary Key:
name :  Saniya
age :  20
course :  Data Science

Itering over a Dictionary Item:
name -> Saniya
age -> 20
course -> Data Science

## **Continue Statement**
- The continue statement in Python returns the control to the beginning of the loop.
- The continue statement is used to skip the current iteration of a loop and move to the next iteration.
- It is useful when we want to bypass certain conditions without terminating the loop.

# **Python Function**

## **Function**
- A function is a block of code which only runs when it is called.
You can pass data, known as parameters, into a function.
- A function can return data as a result.
- In Python a function is defined using the def keyword:

In [ ]:
# Function without Argument
def greet():
  print("Hello!")

In [ ]:
greet()

Hello!

## **Arguments**
- Information can be passed into functions as arguments.
- Arguments are specified after the function name, inside the parentheses.
- You can add as many arguments as you want, just separate them with a comma.

In [ ]:
# Function with Single Argument
def greet_user(name):
  print(f"Hello {name}!, Good to see you!")

In [ ]:
greet_user("Saniya")

Hello Saniya!, Good to see you!

In [1]:
# Function with Multiple Argument
def add_num(a, b):
  return a + b
result = add_num(10, 20)
print(result)

30

In [4]:
# Function with Default Argument
def power(base, exponent = 2):
  return base ** exponent

result = power(4,3)
print(result)
result = power(5)
print(result)

64
25

In [5]:
# Function with Keyword Argument
def introduce(name, age, course):
  print(f"My name is {name}, I am {age}, I study {course}")

introduce("Saniya", 20, "Data Science")

My name is Saniya, I am 20, I study Data Science

In [10]:
# Function With Variable-Length Arguments (*args and **kwargs)

# *args
def total_marks(*marks):
  return sum(marks)
print("Total Marks:",total_marks(10,20,30,40))

# **kwargs
def student_info(**info):
  for key, value in info.items():
    print(f"{key} : {value}")

student_info(name = "Saniya", age = 20, course = "Data Science")

Total Marks: 100
name : Saniya
age : 20
course : Data Science