# **Python - Pandas**

In [1]:
import pandas as pd

### **Pandas Series using List**

In [4]:
list1 = [10,20,30,40,50]
series1 = pd.Series(list1)
print(type(series1))

<class 'pandas.core.series.Series'>

In [5]:
series1

0    10
1    20
2    30
3    40
4    50
dtype: int64

### **Accessing elements from Pandas Series**

In [6]:
# Position-Based Indexing

# Accessing elements using index
print(series1[2],"\n")

# Access multiple elements using slicing
print(series1[1:4])

30

1    20
2    30
3    40
dtype: int64

In [7]:
# Label-Based Indexing
series2 = pd.Series([1534, 9543, 6846, 8461, 5845, 2545], index = ['a', 'b', 'c', 'd', 'e', 'f'])
series2

a    1534
b    9543
c    6846
d    8461
e    5845
f    2545
dtype: int64

In [8]:
print(series2['d'])

8461

In [9]:
list(series2.index)

['a', 'b', 'c', 'd', 'e', 'f']

In [10]:
series2.values

array([1534, 9543, 6846, 8461, 5845, 2545])

In [11]:
series2.index

Index(['a', 'b', 'c', 'd', 'e', 'f'], dtype='object')

In [12]:
series2 < 6000

a     True
b    False
c    False
d    False
e     True
f     True
dtype: bool

### **Series using Arrays**

In [13]:
import pandas as pd
import numpy as np

In [14]:
data = np.array(['P', 'E', 'T','R','O','L','E','U','M'])
ser = pd.Series(data)
print(ser)

0    P
1    E
2    T
3    R
4    O
5    L
6    E
7    U
8    M
dtype: object

### **Empty Pandas Series**

In [19]:
# Creating an Empty Pandas Series
pd.Series()

Series([], dtype: object)

In [20]:
pd.Series(dtype = 'int8')

Series([], dtype: int8)

In [21]:
# Create a Series with an Explicit Integer data type
s1 = pd.Series([10,20,30], dtype = 'int8')
print(s1)
print(s1.dtype)

0    10
1    20
2    30
dtype: int8
int8

In [22]:
# Create a Series wwith an Explicit String data type
s2 = pd.Series(['porosity', 'permeability', 'wettability'], dtype = 'string')
print(s2)
print(s2.dtype)

0        porosity
1    permeability
2     wettability
dtype: string
string

### **range()**

In [23]:
# Create a Series using range()
s3 = pd.Series(range(5,15))
s3

0     5
1     6
2     7
3     8
4     9
5    10
6    11
7    12
8    13
9    14
dtype: int64