# **Python - Pandas**

In [24]:
import pandas as pd

In [25]:
list1 = [10,20,30,40,50]
series1 = pd.Series(list1)
print(type(series))

<class 'pandas.core.series.Series'>

In [27]:
series1

0    10
1    20
2    30
3    40
4    50
dtype: int64

### **Accessing elements from Pandas Series**

In [28]:
# Position-Based Indexing

# Accessing elements using index
print(series1[2],"\n")

# Access multiple elements using slicing
print(series1[1:4])

30

1    20
2    30
3    40
dtype: int64

In [31]:
# Label-Based Indexing
series2 = pd.Series([1534, 9543, 6846, 8461, 5845, 2545], index = ['a', 'b', 'c', 'd', 'e', 'f'])
series2

a    1534
b    9543
c    6846
d    8461
e    5845
f    2545
dtype: int64

In [33]:
print(series2['d'])

8461

In [34]:
list(series2.index)

['a', 'b', 'c', 'd', 'e', 'f']

In [36]:
series2.values

array([1534, 9543, 6846, 8461, 5845, 2545])

In [37]:
series2.index

Index(['a', 'b', 'c', 'd', 'e', 'f'], dtype='object')

In [40]:
series2 < 6000

a     True
b    False
c    False
d    False
e     True
f     True
dtype: bool