# **Pandas - Series Functionality**

In [1]:
import pandas as pd

In [2]:
list1 = pd.Series([1,2,3,4,5,6])
list1

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

### **axes**

In [3]:
print("The axes are: ")
print(list1.axes)

The axes are:
[RangeIndex(start=0, stop=6, step=1)]

### **empty**

In [4]:
print("Is the object empty?")
print(list1.empty)

Is the object empty?
False

### **ndim**

In [5]:
print("No of dimension: ")
print(list1.ndim)

No of dimension:
1

### **size**

In [6]:
print("Size of object:")
print(list1.size)

Size of object:
6

### **values**

In [7]:
print("Values of Object: ")
print(list1.values)

Values of Object:
[1 2 3 4 5 6]

### **head() and tail()**

In [8]:
list1.head(3)

0    1
1    2
2    3
dtype: int64

In [9]:
list1.tail(3)

3    4
4    5
5    6
dtype: int64

In [10]:
data = {'Name': pd.Series(['Tom', 'James', 'Ricky', 'Vin', 'Steve', 'Smith', 'Jack']),
      'Age': pd.Series ([25, 26, 25,23,30,29,23]),
      'Rating': pd.Series([4.23,3.24,3.98,2.56,3.20,4.6,3.8])}
#Create a DataFrame
df = pd.DataFrame(data)
print ("Our data series is:")
print(df)

Our data series is:
    Name  Age  Rating
0    Tom   25    4.23
1  James   26    3.24
2  Ricky   25    3.98
3    Vin   23    2.56
4  Steve   30    3.20
5  Smith   29    4.60
6   Jack   23    3.80

In [11]:
df.T

           0      1      2     3      4      5     6
Name     Tom  James  Ricky   Vin  Steve  Smith  Jack
Age       25     26     25    23     30     29    23
Rating  4.23   3.24   3.98  2.56    3.2    4.6   3.8

In [12]:
df.axes

[RangeIndex(start=0, stop=7, step=1),
 Index(['Name', 'Age', 'Rating'], dtype='object')]

In [13]:
df.dtypes

Name       object
Age         int64
Rating    float64
dtype: object

In [14]:
df.ndim

2

In [15]:
df.shape

(7, 3)

In [16]:
df.sample()

    Name  Age  Rating
4  Steve   30     3.2

In [17]:
df.values

array([['Tom', 25, 4.23],
       ['James', 26, 3.24],
       ['Ricky', 25, 3.98],
       ['Vin', 23, 2.56],
       ['Steve', 30, 3.2],
       ['Smith', 29, 4.6],
       ['Jack', 23, 3.8]], dtype=object)

In [18]:
df.value_counts()

Name   Age  Rating
Jack   23   3.80      1
James  26   3.24      1
Ricky  25   3.98      1
Smith  29   4.60      1
Steve  30   3.20      1
Tom    25   4.23      1
Vin    23   2.56      1
Name: count, dtype: int64